.Container {
	width: 100%;
	min-height: 100vh;
	z-index: 10;
}

.MainHeader {
	position: fixed;
	top: 0;
	padding: 0px 20px 0px 150px;
	width: calc(100% - 30px);
	height: 100px;
	background-color: #fff;
	z-index: 1;

	input {
		border: none;
		outline: none;
		border-radius: 10px;
		background-color: #f6f6f7;
		width: 92%;
		padding: 5px 10px;

		&:focus {
			&::placeholder {
				color: #f6f6f7;
			}
		}
	}
}

.icon-button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	i {
		font-size: 20px;
	}
}

.TitleBlock {
	position: relative;

	h2 {
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	i {
		cursor: pointer;
		font-size: 20px;
		position: absolute;
		top: 5px;
		right: 180px;
	}
}

.MainContent {
	position: absolute;
	top: 116px;
	left: 110px;
	bottom: 5px;
	width: calc(100% - 110px);
	overflow: auto;

	.chat-room-item {
		all: unset;
		cursor: pointer;
		display: block;
		width: 94%;
		list-style-type: none;
		padding: 8px 5px 10px 115px;
		position: relative;

		img {
			position: absolute;
			top: 34px;
			left: 45px;
			width: 60px;
			height: 60px;
			border-radius: 15px;
			cursor: pointer;
		}

		p {
			color: #707070;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			min-height: 19px;
			font-size: 15px;

			b {
				color: #000;
				font-weight: bold;
				font-size: 20px;
			}
		}

		&:hover {
			background-color: #eaeaeb;
		}

		.room-block-top {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 45px;

			span {
				position: absolute;
				top: 0;
				right: 35px;
			}
		}
	}
}

.unread-messages {
	margin-top: 20px;
	background-color: red;
	color: white;
	font-size: 15px;
	padding: 4px 10px;
	border-radius: 10px;
	margin-left: 8px;
	display: inline-block;
	min-width: 16px;
	text-align: center;
}
