.Container {
	width: 100%;
	min-height: 100vh;
	z-index: 10;
}

.MainHeader {
	position: fixed;
	top: 0;
	width: calc(100% - 30px);
	padding: 0px 20px 0px 150px;
	height: 100px;
	background-color: #fff;
	z-index: 1;

	input {
		border: none;
		outline: none;
		border-radius: 10px;
		background-color: #f6f6f7;
		width: 92%;
		padding: 5px 10px;

		&:focus {
			&::placeholder {
				color: #f6f6f7;
			}
		}
	}
}

.TitleBlock {
	position: relative;

	h2 {
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	i {
		cursor: pointer;
		font-size: 20px;
		position: absolute;
		top: 5px;
		right: 180px;
	}
}

.MainContent {
	position: absolute;
	top: 110px;
	left: 115px;
	bottom: 5px;
	width: 100%;
	overflow: auto;

	li {
		position: relative;
		list-style-type: none;
		padding: 8px 100px 10px 120px;

		img {
			position: absolute;
			top: 18px;
			left: 45px;
			width: 45px;
			height: 45px;
			border-radius: 15px;
			cursor: pointer;
		}

		p {
			color: #707070;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			min-height: 19px;
			font-size: 12px;

			b {
				color: #000;
				font-weight: bold;
				font-size: 14px;
			}
		}

		&:hover {
			background-color: #eaeaeb;
		}
	}
}

.MyProfileBlock,
.FriendsBorder {
	&.MyProfileBlock {
		position: relative;
		padding: 10px 10px 25px 113px;
		width: 100%;
		margin-top: 8px;

		img {
			position: absolute;
			top: 18px;
			left: 42px;
			width: 60px;
			height: 60px;
			border-radius: 15px;
			cursor: pointer;
		}

		p {
			color: #707070;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			min-height: 19px;
			font-size: 15px;

			b {
				color: #000;
				font-weight: bold;
				font-size: 20px;
			}
		}

		&:hover {
			background-color: #eaeaeb;
		}
	}

	&.FriendsBorder {
		border-top: 0.5px solid #dcdcdc;
		margin: 0px 20px 0 45px;
		padding-top: 10px;
		width: 100%;

		p {
			font-size: 15px;
			color: #b4b4b4;
		}
	}
}

.icon-button,
.MyProfileBlock,
.friend-item {
	background: none;
	border: none;
	cursor: pointer;
	text-align: left;
}
